* {
    color: #3C3C3C;
    font-family: jetbrains mono, monospace;
}

body {
    background-color: #FAF9F6;

}

.array {
    display: flex;
    height: 65vh;
    width: 90%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 30px auto;
    border-bottom: 3px solid black;
}

.elements {
    border: 1px solid black;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: height 0.6s ease, background-color 0.6s ease;
}

button {
    /* margin:0px auto; */
    /* width:30%; */
    height: 44px;
    font-size: 18px;
    margin-top: 6px;
    font-family: jetbrains mono, monospace;
}

.btn {
    text-align: center;
}

.compare {
    background-color: lightgrey !important;
    color: black !important;
}

h1 {
    text-align: center;
    font-size: 40px;
    /* color: #3C3C3C; */
}

#pass {
    /* text-align: center; */
    text-align: center;
    font-size: 26px;
    padding-right: 5%;
    color: #3C3C3C;
}

/* label{
    font-size: 25px;
} */
span {
    font-size: 23px;
}

input {
    padding: 5px;
    font-size: 18px;
}

.visualizer {
    display: flex;
    justify-content: space-around;

}

.array-container {
    padding: 2px;
    /* border: 1px solid grey; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-basis: 60%;
    background-color: #F2F0DF;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}



.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 18px;
    background-color: #FFFFFF;
}

.genbtn {
    display: flex;
    justify-content: center;
}

.inputs {
    margin: 4px 0px;
}

input[type="number"] {
    /* Use a fixed width like px or relative units like em/rem */
    width: 100px;

    /* Recommended: include padding and border in the width calculation */
    box-sizing: border-box;
}